parameters:
	ignoreErrors:
		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Http/Controllers/ShowtimeController.php

		-
			message: '#^Call to function is_string\(\) with array\|null will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Jobs/ExpireReservationJob.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, array given\.$#'
			identifier: argument.type
			count: 3
			path: app/Jobs/ExpireReservationJob.php

		-
			message: '#^Property App\\Models\\Showtime\:\:\$available_seats \(array\) does not accept string\|false\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Jobs/ExpireReservationJob.php

		-
			message: '#^Property App\\Models\\Showtime\:\:\$reserved_seats \(array\|null\) does not accept string\|false\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Jobs/ExpireReservationJob.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Jobs/ProcessReservationJob.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Jobs/ProcessReservationJob.php

		-
			message: '#^Parameter \#1 \$reservationId of class App\\Jobs\\ExpireReservationJob constructor expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Jobs/ProcessReservationJob.php

		-
			message: '#^Relation ''auditorium'' is not found in App\\Models\\Showtime model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Jobs/ProcessReservationJob.php

		-
			message: '#^Call to function is_string\(\) with array will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 2
			path: app/Listeners/UpdateShowtimeAvailability.php

		-
			message: '#^Call to function is_string\(\) with array\|null will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Listeners/UpdateShowtimeAvailability.php

		-
			message: '#^Property App\\Models\\Showtime\:\:\$available_seats \(array\) does not accept string\|false\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Listeners/UpdateShowtimeAvailability.php

		-
			message: '#^Property App\\Models\\Showtime\:\:\$reserved_seats \(array\|null\) does not accept string\|false\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Listeners/UpdateShowtimeAvailability.php

		-
			message: '#^Method Illuminate\\Contracts\\Container\\Container\:\:bind\(\) invoked with 4 parameters, 1\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Parameter \#3 \$shared of method Illuminate\\Contracts\\Container\\Container\:\:bind\(\) expects bool, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Relation ''reservation'' is not found in App\\Models\\Payment model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Services/PurchaseService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Services/RateLimitService.php

		-
			message: '#^Call to function is_string\(\) with array\|null will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Services/ReservationService.php

		-
			message: '#^Method App\\Services\\ReservationService\:\:isShowtimeValid\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Services/ReservationService.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/ReservationService.php

		-
			message: '#^Relation ''auditorium'' is not found in App\\Models\\Showtime model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Services/ReservationService.php
